<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles_khoa/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/header.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/style.css">
    <link rel="stylesheet" href="/css/luan/chat.css">
    <link href="/thang/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/thang/css/bootstrap4.css" rel="stylesheet" type="text/css" media="all">
    <script src="/thang/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/thang/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/thang/css/flexslider.css" type="text/css" media="screen"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

</head>
<body>

<header th:insert="~{/header_footer/header_admin::header}"></header>
<nav th:insert="~{/nhu/admin/duyet::headerAdmin}"></nav>


<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <center><img src="/img/slide4.png" alt="Los Angeles"></center>
        </div>
<!--        <div class="carousel-item">-->
<!--            <center><img src="/img/slider02.jpg" alt="Chicago"></center>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <center><img src="/img/slidee03.png" alt="New York"></center>-->
<!--        </div>-->
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
</div>
<!--<div th:replace="~{/luan/product-detail::chat}"></div>-->
<footer style="height: 0" th:insert="~{/header_footer/footer::footer}"></footer>
</body>

</html>
