<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles_khoa/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/header.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/style.css">
    <link rel="stylesheet" href="/css/luan/chat.css">
    <link href="/thang/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/thang/css/bootstrap4.css" rel="stylesheet" type="text/css" media="all">
    <script src="/thang/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/thang/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/thang/css/flexslider.css" type="text/css" media="screen"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <style>
        label {
            color: #027ca5;
        }
    </style>
</head>
<body>
<header th:insert="~{/header_footer/header_admin::header}"></header>
<nav th:insert="~{/nhu/admin/duyet::headerAdmin}"></nav>

<div class="container">
    <form method="post" action="/danhmuc/edit" th:object="${danhmucs}">
        <fieldset>
            <div class="services-top">
                <h3 class="btn btn-secondary">Sửa Danh Mục </h3>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mã Danh Mục *</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{maDanhMuc}" class="form-control is-invalid" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên Danh Mục *</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{tenDanhMuc}" class="form-control is-invalid">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    <input  type="submit" style="background:#1ab7ea;color: white" class="form-control btn btn-success"
                           value="Cập Nhật">
                </div>
            </div>
        </fieldset>
    </form>
</div>

</div>
<!--<div th:replace="~{/luan/product-detail::chat}"></div>-->
<footer style="height: 0" th:insert="~{/header_footer/footer::footer}"></footer>
</body>
</html>