<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <title>Khóa người dùng</title>

    <!--Core CSS -->
    <link href="/phuoc/css/bootstrap.min.css" rel="stylesheet">
    <link href="/phuoc/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/phuoc/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/phuoc/css/datepicker.css" />
    <link href="/phuoc/css/style.css" rel="stylesheet">
    <link href="/phuoc/css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
<section id="container" >
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <h1 class="panel-heading">
                            Khóa người dùng
                        </h1>
                        <div class="panel-body">
                            <form action="#" class="form-horizontal ">
                                <div class="form-group" >
                                    <label class="control-label col-md-3" style="margin-left: 125px">Thời gian khóa</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Từ</label>
                                    <div class="col-md-4 col-xs-11">
                                        <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-02-2012"  class="input-append date dpYears">
                                            <input type="text" readonly="" value="12-02-2012" size="16" class="form-control">
                                            <span class="input-group-btn add-on">
                                                <button class="btn btn-primary" type="button"><i class="far fa-calendar-alt"></i></button>
                                              </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Đến</label>
                                    <div class="col-md-4 col-xs-11">
                                        <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-02-2012"  class="input-append date dpYears">
                                            <input type="text" readonly="" value="12-02-2012" size="16" class="form-control">
                                            <span class="input-group-btn add-on">
                                                <button class="btn btn-primary" type="button"><i class="far fa-calendar-alt"></i></button>
                                              </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Bạn có thực sự muốn khóa</label>
                                    <div class="col-md-4 col-xs-11">
                                        <textarea cols="50" rows="10">
                                            Nguyễn Văn A(23),
                                            Nguyễn Văn B(21),
                                            Nguyễn Văn C(18)
                                        </textarea>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Lý do</label>
                                    <div class="col-md-4 col-xs-11">
                                        <textarea cols="50" rows="10">
                                        </textarea>
                                    </div>

                                </div>
                                <div class="form-group" style="margin-left: 310px">
                                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="background: #18b7ea">Khóa</a>
                                        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Hủy</a>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>

</section>

<!-- Placed js at the end of the document so the pages load faster -->

<!--Core js-->
<script src="/phuoc/js/jquery.js"></script>
<script src="/phuoc/js/jquery-1.8.3.min.js"></script>
<script src="/phuoc/js/bootstrap.min.js"></script>
<script src="/phuoc/js/jquery-ui-1.9.2.custom.min.js"></script>
<script class="include" type="text/javascript" src="/phuoc/js/jquery.dcjqaccordion.2.7.js"></script>

<script type="text/javascript" src="/phuoc/js/bootstrap-datepicker.js"></script>
<script src="/phuoc/js/scripts.js"></script>
<script src="/phuoc/js/advanced-form.js"></script>

</body>
</html>
