<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles_khoa/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/style.css">
</head>
<body>
<footer th:fragment="footer" class="footer-03">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-6">
                        <h1 class="footer-heading">Trợ giúp và Liên Hệ</h1>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Liên hệ</a></li>
                            <li><a href="#" class="py-1 d-block">Thông tin giao hàng</a></li>
                            <li><a href="#" class="py-1 d-block">Đăng ký</a></li>
                            <li><a href="#" class="py-1 d-block">Trợ giúp</a></li>
                            <li><a href="#" class="py-1 d-block">Thanh toán &amp; Vận chuyển </a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 mb-md-0 mb-6">
                        <h2 class="footer-heading">Về CGAuction</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Về chúng tôi</a></li>
                            <li><a href="#" class="py-1 d-block">Điều khoản sử dụng</a></li>
                            <li><a href="#" class="py-1 d-block">Chính sách bảo mật</a></li>
                            <li><a href="#" class="py-1 d-block">Thông tin công ty</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-end">
                    <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
                        <h2 class="footer-heading">Connect with us</h2>
                        <ul class="ftco-footer-social p-0">
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                                        title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                                        title="Facebook"><span class="ion-logo-facebook"></span></a>
                            </li>
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                                        title="Instagram"><span class="ion-logo-instagram"></span></a>
                            </li>
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                                        title="Youtube"><span class="ion-logo-youtube"></span></a></li>
                        </ul>
                        <p style="color: #fff; font-size: 15px;">Có câu hỏi? Chúng tôi muốn nghe từ bạn!</br>Email cho
                            chúng tôi: support@WebDauGia.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top">
            <div class="col-md-12 col-lg-12">
                <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    CGAUCTION.COM. ALL RIGHTS RESERVED<i class="ion-ios-heart" aria-hidden="true"></i> by <a href="#"
                                                                                                             target="_blank">WebDauGia.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>