<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/styles_khoa/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/header.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/style.css">
    <link rel="stylesheet" href="/css/luan/chat.css">

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="/css/styles_khoa/profile-css/main.css" rel="stylesheet" media="all">
    <link href="/css/styles_khoa/profile-css/sb-admin-2.min.css" rel="stylesheet">


    <link href="/css/styles_khoa/history-css/pagnition.css" rel="stylesheet">
    <link href="/css/styles_khoa/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/thang/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/thang/css/bootstrap4.css" rel="stylesheet" type="text/css" media="all">
    <script src="/thang/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/thang/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/thang/css/flexslider.css" type="text/css" media="screen"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    </script>
    <meta name="keywords"
          content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <style>
        label {
            color: #027ca5;
        }
    </style>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<header th:insert="~{/header_footer/header_client::header}"></header>
<!--header end here-->
<!--banner strip start here-->
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
            nav: true,
        });
    });
</script>

<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <div class="container" style="display: flex; max-width: 1400px;} ">
            <form method="post" action="/sanpham/edit" th:object="${sanphams}" style="width: 100%;margin-left: 25px;">
                <fieldset>
                    <div class="services-top">
                        <h3 class="btn btn-secondary"> Sửa Sản Phẩm </h3>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Mã Sản Phẩm
                            *</label>
                        <div class="col-sm-7">
                            <span th:utext="*{maSanPham}">

                            </span>
                            <input type="text" th:field="*{maSanPham}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Tên sản phẩm
                            *</label>
                        <div class="col-sm-7">
                            <input type="text" th:field="*{tenSanPham}" class="form-control is-invalid">
                            <p style="color: red" th:if="${#fields.hasErrors('tenSanPham')}" th:errors="*{tenSanPham}">
                                Error</p>

                        </div>
                    </div>
                    <select class="form-control  is-invalid" th:field="*{taiKhoan}" hidden="hidden">
                        <option th:text="${sanphams.taiKhoan.nguoiDung.tenNguoiDung}"
                                th:value="${sanphams.taiKhoan.taiKhoan}"></option>
                    </select>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Số Lượng *</label>
                        <div class="col-sm-7">

                            <input type="number" th:field="*{soLuong}" class="form-control is-invalid">
                            <p style="color: red" th:if="${#fields.hasErrors('soLuong')}" th:errors="*{soLuong}">
                                Error</p>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Danh Mục *</label>
                        <div class="col-sm-7">
                            <select class="form-control custom-select is-invalid" th:field="*{danhMuc}">
                                <option th:text="${sanphams.danhMuc.tenDanhMuc}"
                                        th:value="${sanphams.danhMuc.maDanhMuc}"></option>
                                <option th:each="danhmuc: ${danhmucs}" th:text="${danhmuc.tenDanhMuc}"
                                        th:value="${danhmuc.maDanhMuc}"></option>
                            </select>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Hình ảnh *</label>
                        <div class="col-sm-7">
                            <img style="height: 250px;width: auto;" th:src="@{${'/img/' + sanphams.hinh}}"
                                 alt="Lỗi ảnh">
                            <br/>
                            <span th:utext="*{hinh}">
                            </span>
                            <input type="text" th:field="*{hinh}" class="form-control is-invalid " hidden="hidden">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Giá ban đầu
                            *</label>
                        <div class="col-sm-7">
                            <input type="number" th:field="*{giaKhoiDiem}" class="form-control is-invalid">
                            <p style="color: red" th:if="${#fields.hasErrors('giaKhoiDiem')}"
                               th:errors="*{giaKhoiDiem}">
                                Error</p>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Bước giá *</label>
                        <div class="col-sm-7">
                            <input th:field="*{mucGia}" type="number"
                                   class="form-control is-invalid"
                                   placeholder="Là giá thấp nhất trong mỗi lần tăng giá">
                            <p style="color: red" th:if="${#fields.hasErrors('mucGia')}" th:errors="*{mucGia}">Error</p>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Giờ bắt đầu
                            *</label>
                        <div class="col-sm-6">
                            <!--                    <p style="color: red" th:if="${#fields.hasErrors('gioBatDau')}" th:errors="*{gioBatDau}">Error</p>-->
                            <input type="time" th:field="*{gioBatDau}" class="form-control is-invalid">
                            <p style="color: red" th:if="${#fields.hasErrors('gioBatDau')}" th:errors="*{gioBatDau}">
                                Error</p>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ngày Bắt đầu
                            *</label>
                        <div class="col-sm-6">
                            <input type="date" th:field="*{ngayBatDau}" class="form-control is-invalid">

                            <p style="color: red" th:if="${#fields.hasErrors('ngayBatDau')}" th:errors="*{ngayBatDau}">
                                Error</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Giờ Kết thúc
                            *</label>
                        <div class="col-sm-6">
                            <input type="time" th:field="*{gioKetThuc}" class="form-control is-invalid">
                            <p style="color: red" th:if="${#fields.hasErrors('gioKetThuc')}" th:errors="*{gioKetThuc}">
                                Error</p>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ngày kết thúc
                            *</label>
                        <div class="col-sm-6">
                            <input type="date" th:field="*{ngayKetThuc}" class="form-control is-invalid">
                            <p style="color: red" th:if="${#fields.hasErrors('ngayKetThuc')}"
                               th:errors="*{ngayKetThuc}">
                                Error</p>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Thông tin chi
                            tiết</label>
                        <div class="col-sm-9">
                            <textarea type="textarea" th:field="*{moTa}" class="form-control is-invalid"
                                      rows="6"> </textarea>
                            <p style="color: red" th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}">Error</p>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Ngày đăng
                            ký*</label>
                        <div class="col-sm-7">
                            <span th:utext="*{ngayDangKi}">

                            </span>
                            <input type="date" th:field="*{ngayDangKi}" class="form-control is-invalid" hidden="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 5px;">Tình Trạng</label>
                        <div class="col-sm-7">
                            <span th:utext="*{tinhTrang}">

                            </span>
                            <input type="text" th:field="*{tinhTrang}" class="form-control is-invalid" hidden="hidden">
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" style="background:#1ab7ea;color: white" class="form-control"
                                   value="sửa">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="col-sm-2">

    </div>

</div>


<div th:replace="~{/luan/product-detail::chat}">

</div>
<!--effec end here-->
<!--project star here-->
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nivo-lightbox-demo a').nivoLightbox({effect: 'fade'});
    });
</script>

<!--clients start here-->


<footer style="height: 0" th:insert="~{/header_footer/footer::footer}"></footer>

<!-- FlexSlider -->


<script src="/thang/js/countTime.js"></script>
<script src="/js/chat-responses.js"></script>
<script src="/js/chat.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--footer end here-->
</body>
</html>


