<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles_khoa/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/header.css">
    <link rel="stylesheet" href="/css/styles_khoa/css/style.css">
    <link rel="stylesheet" href="/css/luan/chat.css">
    <link href="/thang/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/thang/css/bootstrap4.css" rel="stylesheet" type="text/css" media="all">
    <script src="/thang/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/thang/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/thang/css/flexslider.css" type="text/css" media="screen"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<header th:insert="~{/header_footer/header_client::header}"></header>
<!--header end here-->
<!--banner strip start here-->
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
            nav: true,
        });
    });
</script>



<div class="services">
    <div class="container">
        <div class="services-main">
            <div class="services-top">
                <h3 class="btn btn-secondary">Sản phẩm Đang Chờ Admin Duyệt Của Bạn</h3>
            </div>
            <center>
                <div>
                    <span class="alert alert-success" th:if="${mgsedit}">Sửa sản phẩm thành công1</span>
                </div>
                <div>
                    <span class="alert alert-success" th:if="${mgsdelete}">Xóa sản phẩm thành công!</span>
                </div>
                <div>
                    <span class="alert alert-success" th:if="${mgstk}">Không tìm thấy sản phẩm!</span>
                </div>
                <div>
                    <span class="alert alert-success" th:if="${mgs}">Thêm mới sản phẩm thành công.Sản phẩm sẽ được đấu giá khi admin duyệt!</span>
                </div>
            </center>
            <div class="services-bottom">
                <div class="row">
                    <div class="col-sm-6 col-md-2 ser item-dau-gia" th:each="sanPham:${listSP}">
                        <div class="thumbnail itemProduct">
                            <div class="img-dau-gia">
                                <a><img
                                        th:src="@{${'/img/' + sanPham.hinh}}"
                                        alt="lỗi ảnh!"></a>
                            </div>
                            <div class="caption">
                                <a th:href="@{/product-detail/{id}(id=${sanPham.maSanPham})}"><h3
                                        th:text="${sanPham.tenSanPham}" class="nameProduct"></h3>
                                    <p th:text="${sanPham.danhMuc.tenDanhMuc}"></p></a>
                                <div class="row rowProduct" style=" padding: 0em 0em 0.5em 0em;border-bottom: 0px">
                                    <span class="col-md-6 time"></span>
                                    <p class="col-md-6 price"
                                       th:text="${#numbers.formatDecimal(sanPham.giaKhoiDiem, 0, 'POINT', 0, 'COMMA')}+'₫'"></p>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <a th:href="@{/sanpham/edit(id = ${sanPham.maSanPham})}"
                                           class="btn btn-dau-gia btn-secondary">Sửa</a>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-dau-gia btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal"
                                                th:onclick="preparedelete([[${sanPham.maSanPham}]],[[${sanPham.tenSanPham}]])">
                                            Xóa
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="exampleModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>Mã sản Phẩm :
                    <span id="maSanPham"></span></p>
                <p>Bạn có chắc chắn muốn xóa
                    <span id="tenSanPham"></span>
                    Không ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy
                </button>
                <button onclick="deleteService($('#maSanPham').html())" type="button"
                        class="btn btn-default" data-dismiss="modal">
                    Xóa
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function preparedelete(maSanPham, tenSanPham) {
        $('#maSanPham').html(maSanPham)
        $('#tenSanPham').html(tenSanPham)
    }

    function deleteService(maSanPham) {
        console.log(maSanPham);
        $.ajax(
            {
                type: 'get',
                url: "/sanpham/delete/" + maSanPham,
                success: function () {
                    window.location.href = "http://localhost:8080/sanpham/list";
                }
            }
        )
    }
</script>

<div th:replace="~{/luan/product-detail::chat}">

</div>
<!--effec end here-->
<!--project star here-->
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nivo-lightbox-demo a').nivoLightbox({effect: 'fade'});
    });
</script>

<!--clients start here-->


<footer style="height: 0" th:insert="~{/header_footer/footer::footer}"></footer>

<!-- FlexSlider -->


<!--<script src="/thang/js/countTime.js"></script>-->
<!--<script src="/js/chat-responses.js"></script>-->
<!--<script src="/js/chat.js"></script>-->
<!--<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
<!--footer end here-->
</body>
</html>








