<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/nha/YeuCau.css">
</head>
<body>
<center>
    <fieldset>
        <legend>Đăng sản phẩm</legend>
        <table>
            <tr>
                <td>Tên sản phẩm</td>
                <td colspan="3">
                    <input
                            type="text"
                            name="input_sp"
                            id="input_sp"
                            placeholder="Vui lòng nhập sản phẩm" size="50px"
                    />
                </td>
            </tr>
            <tr>
                <td>Chủng loại</td>
                <td>
                    <select name="" id="">
                        <option value="Điện Tử">Điện Tử</option>
                        <option value="Gia Dụng">Gia Dụng</option>
                        <option value="Đồ Chơi">Đồ Chơi</option>
                        <option value="Công Nghệ">Công Nghệ</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Giá ban đầu</td>
                <td>
                    <input type="number" name="" placeholder="10.000VND"/>
                </td>
            </tr>
            <tr>
                <td>Mỗi lần tăng ít nhất</td>
                <td><input type="text" name="" /></td>
            </tr>
            <tr>
                <td>Thông tin chi tiết</td>
                <td colspan="2">
            <textarea name="" cols="50" rows="10">Giới thiệu sản phẩm                              Bảo hành                                        Thông tin nhận hàng
            </textarea>
                </td>
            </tr>
            <tr>
                <td>Hình ảnh sản phẩm</td>
                <td>
                    <button type="submit" style="width: 100px;">Chọn tệp</button>
                </td>
            </tr>
            <tr>
                <td>Ngày giờ bắt đầu</td>
                <td>
                    <input type="text" name="" placeholder="Giờ bắt đầu" />
                </td>
                <td style="text-align: right;">Ngày giờ kết thúc</td>
                <td><input type="text" name="" placeholder="Giờ kết thúc" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Đăng Ký Sản Phẩm</button></td>
                <td></td>
                <td><button type="submit">Nhập lại</button></td>
            </tr>
        </table>
    </fieldset>
</center>
</body>
</html>